# Python Data Structures and Boolean
- Boolean
- Boolean and Logical Operators
- List
- Comparision Operator
- Dictionaries
- Tuples
- Sets
- Boolean Variables
- Boolean values are two constant objects False and True.
- They are used to represent truth values (other values can also considered false or true).
- In Numeric contexts (for example, when use as the argument to an arithmatic operator), They bahave like the integers 0 and 1 respectively.
- The build function body() can be used to cast of any value to a Boolean,if the value can be interpreted as the truth value.
- They are written as False and True respectively.

In [7]:
print(True,False)

True False

In [8]:
type(True)

bool

In [9]:
type(False)

bool

In [8]:
my_str="Krishna"
# my_str.isalnum()
my_str.isspace()

False

In [26]:
my_str2="Bhagwat"
# my_str2.isalpha()
# my_str2.isalnum()
# my_str2.capitalize()
# my_str2.islower()
# my_str.isupper()
# my_str2.isdigit()
# my_str2.startswith("Bh")
# my_str2.endswith("wat")
my_str2.istitle()

True

In [53]:
print(my_str.isalnum()) #return True if all characters in the string are alphanumeric.
print(my_str.isalpha()) #return True if all characters in the string are alphabet.
print(my_str.isdigit()) #return True if all characters in the string are digits.
print(my_str.istitle()) #return True if all characters follows the rules of a title.
print(my_str.isupper()) #Return True if all characters in the string are upper case
print(my_str.islower()) #return True if all characters in the string are lowercase
print(my_str.isspace()) #return True if all characters in the string are whitespace
print(my_str.endswith('a')) #return True if string ends with the specific value
print(my_str.startswith('K')) #return True if string start with the specific value

True
True
False
True
False
False
False
True
True

## Boolean and Logical operators

In [54]:
True or True

True

In [55]:
True or False

True

In [56]:
False or False

False

In [57]:
True and True

True

In [58]:
True and False

False

In [59]:
False and False

False

In [66]:
my_str="Krishna"
my_str1="Nimkarde"

print(my_str.isupper() or my_str1.isdigit())
print(my_str.islower() and my_str1.isspace())

False
False

In [29]:
mystr1="Bhagwat"
mystr2="Nimkarde"
print(mystr1.isalpha() or mystr2.isdigit())
print(mystr1.isalpha and mystr2.isdigit())

True
False

## Lists
- A List is a data structure in Pyhton that is mutable, or changeable, ordered sequence of Elements. Each Element and value that is inside of the list is called as item.just as strings are define as characters between qoutes, list are define by having values between square bracket []

In [67]:
lst_example=[]
type(lst_example)

list

In [69]:
lst=list()
type(lst)

list

In [3]:
lst1=["Elon Musk","Jeff Bezos","Bill Gates",40,50,100,"Nagpur"]

In [75]:
print(lst1[:])

['Elon Musk', 'Jeff Bezos', 'Bill Gates', 40, 50, 100, 'Nagpur']

In [76]:
print(lst1[1:])

['Jeff Bezos', 'Bill Gates', 40, 50, 100, 'Nagpur']

In [78]:
print(lst1[3:6])

[40, 50, 100]

In [89]:
print(lst1[::-1])

['Nagpur', 100, 50, 40, 'Bill Gates', 'Jeff Bezos', 'Elon Musk']

In [91]:
print(lst1[1:6:2])

['Jeff Bezos', 40, 100]

In [93]:
lst1

['Elon Musk', 'Jeff Bezos', 'Bill Gates', 40, 50, 100, 'Nagpur']

### append
- append is use to add element in end od list

In [4]:
lst1.append("Bangalore")
lst1

['Elon Musk', 'Jeff Bezos', 'Bill Gates', 40, 50, 100, 'Nagpur', 'Bangalore']

In [110]:
lst1.append(["krishna","ram"])
lst1.pop()

['krishna', 'ram']

In [101]:
lst1.append("Delhi")
lst1

['Elon Musk', 'Jeff Bezos', 'Bill Gates', 40, 50, 100, 'Nagpur', 'Delhi']

### insert
- Insert a element is specific position

In [102]:
lst1.insert(1,"Bill Gates")
lst1

['Elon Musk',
 'Bill Gates',
 'Jeff Bezos',
 'Bill Gates',
 40,
 50,
 100,
 'Nagpur',
 'Delhi']

In [103]:
lst1.insert(5,"Pune")
lst1

['Elon Musk',
 'Bill Gates',
 'Jeff Bezos',
 'Bill Gates',
 40,
 'Pune',
 50,
 100,
 'Nagpur',
 'Delhi']

In [12]:
lst1.insert(0,"Krishna Nimkarde")
lst1.pop(0)
lst1.pop(1)
lst1

['Krishna Nimkarde',
 'Elon Musk',
 'Jeff Bezos',
 'Bill Gates',
 40,
 50,
 100,
 'Nagpur',
 'Bangalore']

### extend method
- adds all the elements of an iterable (list,tuple,string etc) to the end of the list. Here, all the elements of iterable are added to the end of list.

In [13]:
a=[1,2,3,4,5,6,8]
a

[1, 2, 3, 4, 5, 6, 8]

In [15]:
a.extend(["Ram Shyam"])
a

[1, 2, 3, 4, 5, 6, 8, 'Ram Shyam']

In [16]:
a.extend(["Elon Musk","gopal pandey"])
a

[1, 2, 3, 4, 5, 6, 8, 'Ram Shyam', 'Elon Musk', 'gopal pandey']

## Various Operations that we can perform on List

In [19]:
#sum:Return sum of the list
lst=[1,2,3,4,5,6,7,8,9,10]
sum(lst)

55

In [22]:
lst1=[1,2,3,4,5]
sum(lst1)

15

In [32]:
#len:Return the length of list
len(lst)

10

In [33]:
len(lst1)

5

### pop() method
- remove the element on the specific position or last element of the list

In [29]:
lst1=[1,2,3,4,5,6,7]
lst1.pop()
lst1

[1, 2, 3, 4, 5, 6]

In [30]:
lst1.pop(1)
lst1

[1, 3, 4, 5, 6]

In [34]:
lst1.pop(-1)

6

In [35]:
lst1

[1, 3, 4, 5]

### count()
- Calculate the total occurrenceof given element of list.

In [12]:
b=["Amit","Prasad","Shyam","Prasad","Kunal","Pooja","Neha","Priti","Priti","Prasad"]
b.count("Prasad")

3

In [37]:
b.count("Priti")

2

### index()
- Return the index of first occurrence. Start and End index are not necessary parameters

In [5]:
b.index("Kunal",0,5)

4

In [6]:
b.index("Prasad",0,9)

1

In [15]:
##max and min:Returns maximum and minimum value of the list
c=[1,2,3,4,5,6,7,8]
min(c)

1

In [16]:
max(c)

8

In [17]:
c*3

[1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8]